<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../styles/style.css">
   <title>{{title}}</title>
</head>
<body>
   <div class="container">
      <div class="search">
         <form>
            <input type="text" class="find" placeholder="Buscar Ciudad">
            <button class="find-icon">
                  <i class="fi-rs-search"></i>
            </button>
         </form>
      </div>
      <div class="containerDegress">
         <h1 class="temp">13</h1>
         <h2 class="deg">°C</h2>
         <div class="min">
            min
            <span class="other-temp">11</span>
            °c
         </div>
         <div class="max">
            max 
            <span class="other-temp">19</span>
            °c
         </div>
      </div>  
      <div class="containerIcon">
         <div class="icon-weather">
            <i class="wi wi-rain"></i>
         </div>
         <span class="city">
            Buenos Aires,
            <b class="country"> AR</b>
            </span>
      </div>
      <div class="containerInfo">
            <img src="../img/eye.svg" alt="eye">
            <span>Clear</span>
            <img src="../img/term.svg" alt="termometer">
            <span>Fells Like</span>
            <img src="../img/gota.svg" alt="humidity">
            <span>Humidity</span>
      </div>     
   </div>
</body>
</html>