<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../styles/style.css">
   <title>{{title}}</title>
</head>
<body>
   <div class="container">
      <div class="search">
         <form>
            <input type="text" class="find" placeholder="Find City">
            <button class="find-icon">
                  <i class="fi-rs-search"></i>
            </button>
         </form>
      </div>
      <div class="containerDegress">
         <h1 class="temp"></h1>
         <h2 class="deg">°C</h2>
         <div class="min">
            min
            <span class="other-temp">-</span>
            °c
         </div>
         <div class="max">
            max 
            <span class="other-temp">-</span>
            °c
         </div>
      </div>  
      <div class="containerIcon">
         <div class="icon-weather">
            <i class="fi-rs-marker"></i>
         </div>
         <span class="city">
            Find One City
         </span>
      </div>
      <div class="containerInfo">
            <img src="../img/eye.svg" alt="eye">
            <span class="description">Condition</span>
            <img src="../img/term.svg" alt="termometer">
            <span class="feels-like">Fells Like</span>
            <img src="../img/gota.svg" alt="humidity">
            <span class="humidity">Humidity</span>
      </div>     
   </div>

   <script src="../js/app.js"></script>
</body>
</html>